[DEFAULT]
bugzilla_url = https://bugzilla.redhat.com/xmlrpc.cgi
# Username for authentication
# TODO: Use cnv-qe-bugs@redhat.com account once we have working API key
bugzilla_username = bugzilla-qe-tlv@redhat.com
# API key for authentication
bugzilla_api_key = CIfEE4pTFpkhG2w08rH3p30sIE864LwkqcK7IDGW
# Version of your product
#bugzilla_version = X.Y (or blank if not relevant)
# Tuple of fixed_in and target_release attribute of bug
#bugzilla_loose = (leave blank for default)
